.Scan {
 
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  gap: 1rem;
  justify-content: center;
}
.App{
 position: relative;
  text-align: center;
}
Img{
  height: 200px;
}

.Box{
  border: 1px solid black;
  height: 150px;
  text-align: center;
  align-items: center;
  color: aliceblue;
  background-color: blueviolet;
} 
.badge{
  font-size: larger;
font-weight: bold;
  text-align: center;
  padding: 10px;
  height: 40px;
  width: 100px;
}
.nave{
  position: sticky;
  
}